<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root Page</title>
</head>
<body>
<h1>Hello, {{username}}! You are on root page. Wanna view secret page? </h1>

<h1>Messages: </h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<ul>
    <li><a href="http://127.0.0.1:50000/logout">Logout</a></li>
    <li><a href="http://127.0.0.1:50000/secret_page">Secret Page</a></li>
    <li><a href="http://127.0.0.1:50000/upload">Upload File</a></li>
    <li><a href="http://127.0.0.1:50000/notebook">Notebook</a></li>
    <li><a href="http://127.0.0.1:50000/chatbot">Chatbot</a></li>

</ul>


</body>
</html>